@model MathWiz.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Val1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Val1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Val2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Val2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sign)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sign)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
